In [1]:
import pandas as pd
import numpy as np

In [13]:
raw_ext_new_feature_label_resume_type = pd.read_csv('../data_20220831/raw_ext_new_feature_label_resume_type.csv').drop('Unnamed: 0', axis=1)
raw_ext_new_feature_label_resume_type

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,36.0,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,29.0,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,NaN,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,27.0,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,28.0,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,31.0,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,36.0,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,27.0,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,43.0,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,32.0,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [5]:
raw_ext_new_feature_label_resume_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82333 entries, 0 to 82332
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          82333 non-null  object
 1   jd_id                          82333 non-null  object
 2   age                            75019 non-null  float64
 3   recruit_number                 82333 non-null  int64
 4   workYear                       76815 non-null  float64
 5   min_month_salary               79574 non-null  float64
 6   max_month_salary               79574 non-null  float64
 7   pay_months                     79574 non-null  float64
 8   school_labels_cv               82333 non-null  object
 9   school_labels_jd               82333 non-null  object
 10  expectlocation_range_cv        82333 non-null  object
 11  location_range_jd              82333 non-null  object
 12  degree_index_cv                82333 non-null  int64
 13  degree_index_jd                82333 non-null  int64
 14  workyear_range_jd              82333 non-null  object
 15  gender_index_cv                82333 non-null  int64
 16  job_intentstatus_cv            82333 non-null  int64
 17  description_tfidf_pca          82333 non-null  object
 18  position_tfidf_pca             82333 non-null  object
 19  requirement_tfidf_pca          82333 non-null  object
 20  kills_tfidf_pca                82333 non-null  object
 21  title_category_tags_tfidf_pca  82333 non-null  object
 22  work_duration_mean             76817 non-null  float64
 23  equal_job                      82333 non-null  int64
 24  parsed_desiredSalary           82333 non-null  int64
 25  parsed_currentSalary           82333 non-null  int64
 26  da_label                       82333 non-null  int64
 27  rank_label                     82333 non-null  int64
 28  resume_type                    80665 non-null  float64
dtypes: float64(7), int64(10), object(12)
memory usage: 18.2+ MB

In [4]:
raw_ext_new_feature_label_resume_type.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

## 正太分布进行缺失值填充

In [21]:
import numpy as np
a1= np.array([0,0,5,5])
a2= np.array([2,2,3,3])

print(a1.mean(), a2.mean()) # 2.5 2.5
print (a1.var() , a2.var()) # 6.25 0.25
print (a1.std() ,a2.std())  # 2.5 0.5

2.5 2.5
6.25 0.25
2.5 0.5

In [209]:
# 需要定义一个函数，给定列名和缺失值种类，返回填充好的数据
import copy

col_name = 'age'
test_df = copy.deepcopy(raw_ext_new_feature_label_resume_type)

def impute_missing_value_and_normalization_fun(test_df, col_name):
    col_value_list = []

    # 计算列的均值和方差
    for i in range(len(test_df)):
        col_value = test_df.loc[i, col_name]
        if pd.isnull(col_value):
            continue
        col_value_list.append(col_value)
    
    col_value_list = np.array(col_value_list)
    mu = col_value_list.mean()
    sigma = col_value_list.std()
    print(mu, sigma)

    # 填充列的缺失值
    for i in range(len(test_df)):
        col_value = test_df.loc[i, col_name]
        if pd.isnull(col_value):
            test_df.loc[i, col_name] = np.random.normal(mu, sigma)
        
    # 对列进行正态分布归一化
    # for i in range(len(test_df)):
    #     col_value = test_df.loc[i, col_name]
    #     test_df.loc[i, col_name] = (col_value - mu)/sigma

    return test_df, mu, sigma

#test_df, mu, sigma = impute_missing_value_and_normalization_fun(test_df, col_name)

In [210]:
test_df

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,36.0,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,29.0,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,NaN,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,27.0,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,28.0,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,31.0,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,36.0,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,27.0,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,43.0,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,32.0,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [96]:
# 分母为sigma*sigma，明显看出来返回的数据不是标准正态分布
(np.random.normal(mu, sigma, 15) - mu)/sigma*sigma

array([13.19415771, -1.43410447, -6.20222364,  4.00515439,  0.18637406,
       -0.45449811, -4.30761852,  4.48141311, -4.32284277, -2.9766932 ,
        6.14357265, -2.95722093, -7.02677739,  2.57334497,  1.21268992])

# 复推集剔除与训练集分层切分

In [211]:
#audit_state（4未处理：过滤，5放弃不会有order，6同意与101对应）
#resume_type: 2-AI人岗, 5-资深人工撮合, 6-复推, 普通猎头单不在其中（普通猎头正样本要去order里找）
#compatibility 规则打分(0-100)，AI人岗类型(resume_type=2)有效
#resume_source：忽略，resume_type=2，5，6时全都等于2，代表AI人岗和复推
test_df

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,36.0,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,29.0,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,NaN,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,27.0,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,28.0,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,31.0,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,36.0,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,27.0,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,43.0,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,32.0,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [212]:
test_df['resume_type'][10] == 4

True

In [213]:
rerec_data = test_df[test_df['resume_type']==6]
rerec_data

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
228,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efb6696353b11,28.0,1,5.0,40.0,70.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2265948554965031, 0.2365975687445597, -0.2...",608.666667,2,-1,270,0,0,6.0
229,2c92071580f6d9840180ffea3ae70284,2c9207157ef7ed16017efca7c41522cf,28.0,1,5.0,30.0,50.0,14.0,[],[],...,"[-0.1286863059399647, -0.2703918780581468, -0....","[0.2104757730597323, 0.1095398531524816, -0.34...","[-0.2468591407567025, 0.3630902466565336, -0.3...",608.666667,2,-1,270,0,0,6.0
257,2c920715811ee1b901814751c8d575b4,2c9207157fbc99ce017fcfba4b353e48,29.0,1,5.0,20.0,25.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.3690522371769096, 0.4612123417733267, -0.5...",898.000000,2,650,500,0,0,6.0
258,2c920715811ee1b901814751c8d575b4,2c92071581c8c61e0181cd2af3a41fc1,29.0,1,5.0,20.0,40.0,12.0,"['985', '211', '双一流', 'qs100']",[],...,"[-0.0579456853457267, -0.0713339990256664, -0....","[0.0444780888386173, 0.1054034726172003, -0.12...","[-0.2235705077862443, 0.3357177304447382, -0.3...",898.000000,2,650,500,0,0,6.0
290,2c92071581afaf4b0181b7caff713c2e,2c92071581900df30181951e9e0566b9,36.0,1,12.0,25.0,45.0,15.0,"['985', '211', '双一流']",[],...,"[0.0394637124870746, 0.0977519032852919, -0.04...","[0.0352650096941871, -0.1091170841053118, 0.06...","[0.054213895114271, -0.0531060478281485, -0.03...",NaN,2,450,330,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81836,2c920715811ee1b9018122634ef40a0c,2c9207158114fb29018123914662667b,32.0,1,7.0,30.0,60.0,12.0,[],[],...,"[-0.1012095218088791, -0.0520556537111129, -0....","[-0.0558309389275561, -0.1178218452662731, -0....","[-0.334069116493843, 0.1818655978459128, 0.489...",487.400000,0,-1,-1,0,0,6.0
81852,2c9207158160d6c3018161bc3acb30a6,2c9207158114fb2901814111cda42dc7,NaN,1,8.0,30.0,80.0,14.0,"['211', '双一流']",[],...,"[-0.0598641958745639, -0.0831534918677584, -0....","[0.0502929167196879, 0.2141882147104232, -0.06...","[0.0031251855626012, -0.0372985562817497, -0.0...",852.333333,4,-1,-1,0,0,6.0
82145,2c9207158059e82b0180776b26675c63,2c920715800e886301802080134114c6,33.0,1,7.0,25.0,38.0,14.0,[],[],...,"[0.1724390256084213, 0.120637276861982, 0.0191...","[-0.144760694459176, -0.1354952219759398, -0.0...","[0.0954174343329668, 0.014156893281137, -0.018...",2527.000000,1,-1,-1,0,0,6.0
82219,2c920715811ee1b901813bb4a108323e,2c9207158114fb290181411575a132c7,NaN,30,NaN,30.0,50.0,14.0,[],[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0314784058595657, -0.090467903967384, -0.05...",NaN,0,-1,-1,0,0,6.0
82312,8a69d7a68219933d01822023017b2ad0,2c9207158114fb290181411575a132c7,35.0,30,15.0,30.0,50.0,14.0,"['211', '双一流']",[],...,"[-0.0548999540439312, -0.1093718677773959, -0....","[-0.0081324455606854, 0.2072682319331523, -0.1...","[0.0314784058595657, -0.090467903967384, -0.05...",1086.166667,4,-1,-1,0,0,6.0

In [214]:
train_test_data = test_df[~(test_df['resume_type']==6)]
train_test_data

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,36.0,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,29.0,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,NaN,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,27.0,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,28.0,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,31.0,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,36.0,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,27.0,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,43.0,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,32.0,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [111]:
2769 + 79564

82333

In [215]:
train_test_data['rank_label'].value_counts()

1    31766
2    22404
0    16400
3     8994
Name: rank_label, dtype: int64

In [216]:
train_test_data['da_label'].value_counts()

 1    25333
 0    16400
 2    15297
-1    13540
 3     8994
Name: da_label, dtype: int64

In [217]:
# rank_label里有-1标签的数据，去除da_label=-1&rank_label=0（未收录）以及da_label=-1&rank_label=1的数据
train_test_data_filter = train_test_data[~((train_test_data['da_label']==-1)&(train_test_data['rank_label']==1))]
train_test_data_filter['rank_label'].value_counts()

# 和文档中的数据规模保持一致
# https://jinrirencai.feishu.cn/docx/doxcnsFcNXW3p3PlgZ471mAGP7t

1    25333
2    22404
0    16400
3     8994
Name: rank_label, dtype: int64

In [142]:
train_test_data_filter

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,0.598151,1,13.0,NaN,NaN,NaN,[],[],...,"[-0.0885833919216516, 0.1251912920110739, -0.0...","[0.332299671725948, 0.1661089355047844, 0.1869...","[-0.0428931610734227, -0.1624195901085068, 0.0...",1209.500000,3,-1,-1,3,3,NaN
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,-0.573193,1,7.0,NaN,NaN,NaN,[],[],...,"[-0.0801264640475711, 0.122717540913069, -0.01...","[0.2361554447739323, 0.1126566470966733, -0.24...","[-0.2347225490786922, 0.0825676460870139, 0.23...",506.000000,4,-1,-1,1,1,NaN
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,-1.787157,1,14.0,NaN,NaN,NaN,[],[],...,"[-0.0644508985020475, 0.1611090469848189, -0.0...","[-0.0922030791609062, -0.1406030646715831, -0....","[-0.1959575316104875, 0.2008839134718935, -0.3...",811.500000,0,-1,-1,2,2,NaN
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,-0.907862,1,3.0,NaN,NaN,NaN,"['211', '双一流']",[],...,"[-0.1339726610662708, -0.1761763831994133, 0.0...","[0.1429396280466366, 0.0217622310718796, -0.14...","[-0.3678224323290787, 0.1854520957699004, 0.32...",76.500000,3,-1,-1,-1,2,4.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,-0.740528,1,5.0,25.0,45.0,12.0,"['211', '双一流']",[],...,"[-0.0136365894358371, -0.0993886855789762, -0....","[-0.1003025481350853, -0.1495209206927971, -0....","[0.0062176220898476, -0.055003735259901, -0.00...",1034.000000,1,450,-1,1,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,-0.238523,1,11.0,30.0,40.0,12.0,[],[],...,"[-0.1517178304086961, -0.1846200489563693, 0.1...","[0.3241805444120278, -0.0345988526341208, 0.26...","[-0.0954686272882023, -0.0493724436404325, 0.1...",1268.000000,4,-1,-1,3,3,4.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,0.598151,5,14.0,15.0,30.0,12.0,[],[],...,"[-0.1015761687785662, 0.0302194323476557, 0.04...","[0.0106236588110783, -0.1609745502874504, -0.0...","[-0.1288286036514234, -0.3332390781216969, 0.0...",1583.333333,3,120,120,3,3,4.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,-0.907862,30,5.0,15.0,30.0,14.0,[],[],...,"[0.5440054441064249, -0.080866345740466, 0.135...","[-0.2612896440159119, 0.0846500996922437, 0.11...","[0.5515111960481315, 0.4001609626530521, 0.169...",487.000000,5,300,216,1,1,4.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,1.769494,1,16.0,30.0,50.0,13.0,[],[],...,"[-0.0904644960948339, 0.3290683312687502, -0.0...","[0.079180668535461, -0.141120307479467, 0.0457...","[0.0103941678651557, -0.0621128773282237, -0.0...",968.666667,1,900,900,-1,2,4.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,-0.071188,1,10.0,70.0,150.0,12.0,[],[],...,"[-0.0829192751546949, 0.0604799060326174, -0.0...","[0.3494112900372027, 0.2215649108814544, -0.07...","[-0.231512912074985, 0.2246044911145827, -0.19...",1126.333333,2,720,-1,0,0,2.0

In [218]:
train_test_data_filter_0 = train_test_data_filter[train_test_data_filter['rank_label']==0]
train_test_data_filter_1 = train_test_data_filter[train_test_data_filter['rank_label']==1]
train_test_data_filter_2 = train_test_data_filter[train_test_data_filter['rank_label']==2]
train_test_data_filter_3 = train_test_data_filter[train_test_data_filter['rank_label']==3]

In [219]:
print(0, len(train_test_data_filter_0))
print(1, len(train_test_data_filter_1))
print(2, len(train_test_data_filter_2))
print(3, len(train_test_data_filter_3))

0 16400
1 25333
2 22404
3 8994

In [220]:
from sklearn.model_selection import train_test_split
loop_list = [train_test_data_filter_0, train_test_data_filter_1, train_test_data_filter_2, train_test_data_filter_3]
sample_train = None
sample_test = None
for data in loop_list:
    train, test = train_test_split(data, test_size=0.2, random_state=10)
    sample_train = pd.concat([sample_train, train])
    sample_test = pd.concat([sample_test, test])

In [172]:
16400+25333+22404+8994

73131

In [221]:
73131/5*4

58504.8

In [222]:
print(len(sample_train))
print(len(sample_test))

58504
14627

In [223]:
sample_train['rank_label'].value_counts()

1    20266
2    17923
0    13120
3     7195
Name: rank_label, dtype: int64

In [224]:
sample_test['rank_label'].value_counts()

1    5067
2    4481
0    3280
3    1799
Name: rank_label, dtype: int64

In [225]:
sample_train.to_csv('../data_20220831/sample_train.csv')

In [226]:
sample_test.to_csv('../data_20220831/sample_test.csv')

# 缺失值填充

In [93]:
import pandas as pd
sample_train = pd.read_csv('../data_20220831/sample_train.csv').drop('Unnamed: 0', axis=1)

In [94]:
sample_train.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

In [95]:
sample_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58504 entries, 0 to 58503
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          58504 non-null  object
 1   jd_id                          58504 non-null  object
 2   age                            53410 non-null  float64
 3   recruit_number                 58504 non-null  int64
 4   workYear                       54437 non-null  float64
 5   min_month_salary               56454 non-null  float64
 6   max_month_salary               56454 non-null  float64
 7   pay_months                     56454 non-null  float64
 8   school_labels_cv               58504 non-null  object
 9   school_labels_jd               58504 non-null  object
 10  expectlocation_range_cv        58504 non-null  object
 11  location_range_jd              58504 non-null  object
 12  degree_index_cv                58504 non-null  int64
 13  degree_index_jd                58504 non-null  int64
 14  workyear_range_jd              58504 non-null  object
 15  gender_index_cv                58504 non-null  int64
 16  job_intentstatus_cv            58504 non-null  int64
 17  description_tfidf_pca          58504 non-null  object
 18  position_tfidf_pca             58504 non-null  object
 19  requirement_tfidf_pca          58504 non-null  object
 20  kills_tfidf_pca                58504 non-null  object
 21  title_category_tags_tfidf_pca  58504 non-null  object
 22  work_duration_mean             54595 non-null  float64
 23  equal_job                      58504 non-null  int64
 24  parsed_desiredSalary           58504 non-null  int64
 25  parsed_currentSalary           58504 non-null  int64
 26  da_label                       58504 non-null  int64
 27  rank_label                     58504 non-null  int64
 28  resume_type                    57295 non-null  float64
dtypes: float64(7), int64(10), object(12)
memory usage: 12.9+ MB

In [96]:
# 连续特征先别归一化，分桶离散化会更好
sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,"[0.0146099317606446, -0.0973321531897229, -0.0...","[0.0267966354783416, 0.1949045208271133, -0.15...","[-0.0268220597366096, 0.0146753642354594, -0.1...",270.00,3,180,-1,0,0,2.0
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,"[-0.0804330166663323, -0.265194138646796, 0.05...","[0.1907121220593182, 0.2593476022337883, 0.109...","[-0.1403481086160699, 0.101545233205827, -0.14...",1019.50,5,-1,-1,0,0,2.0
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,NaN,NaN,NaN,[],['双一流'],...,"[-0.0967045533557524, -0.0158876913753405, -0....","[0.1350832166503662, 0.0570712078989811, -0.16...","[0.0041959442715183, -0.0689690014332659, -0.0...",832.00,3,-1,540,0,0,2.0
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,"[0.1213571418999401, 0.0752965052240779, -0.04...","[-0.0822782506729067, 0.0309579678495507, -0.0...","[0.0593428963865967, -0.0521583781812485, -0.0...",401.40,4,-1,288,0,0,5.0
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,"[-0.0555047818278877, -0.0795936243595016, 0.0...","[-0.0508683560010078, 0.2361558331204752, -0.1...","[-0.4085584894502868, 0.2043626298020381, 0.02...",692.00,2,-1,-1,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,NaN,15,NaN,8.0,15.0,12.0,[],[],...,"[-0.0668460252602592, 0.0700903434401426, 0.05...","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0196958641886768, -0.0692635968080485, -0.0...",NaN,0,-1,-1,3,3,4.0
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,"[-0.0098772535847565, 0.1301945044403502, -0.0...","[-0.1535405985665613, -0.0679644279924362, -0....","[0.1167680749390213, -0.0366297624844817, -0.0...",814.50,4,270,240,3,3,4.0
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,"[-0.097456235834622, -0.0709741819063322, 0.27...","[0.2580047261706898, -0.1447766777098391, 0.28...","[-0.0871293740917814, -0.0944614800646356, 0.1...",1141.75,4,-1,-1,3,3,4.0
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,"[0.1227189818078986, 0.0444096728787962, -0.01...","[-0.2917169624226904, 0.0940038684861844, 0.06...","[0.1580939681081193, 0.0353872320416606, -0.09...",501.50,4,600,247,3,3,4.0
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,"[0.2091978777308882, -0.0785661586036314, 0.03...","[-0.0685295771942709, -0.1354889152393191, -0....","[0.0455587290375525, -0.0721893133651663, 0.01...",411.00,1,-1,-1,3,3,4.0

In [98]:
# 中位数填充
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='median')
sample_train['age'] = imp.fit_transform(sample_train[['age']])
sample_train['workYear'] = imp.fit_transform(sample_train[['workYear']])
sample_train['min_month_salary'] = imp.fit_transform(sample_train[['min_month_salary']])
sample_train['max_month_salary'] = imp.fit_transform(sample_train[['max_month_salary']])
sample_train['pay_months'] = imp.fit_transform(sample_train[['pay_months']])
sample_train['work_duration_mean'] = imp.fit_transform(sample_train[['work_duration_mean']])

imp = SimpleImputer(missing_values=-1, strategy='median')
# 这两个只能选一个接入模型
sample_train['parsed_desiredSalary'] = imp.fit_transform(sample_train[['parsed_desiredSalary']])
sample_train['parsed_currentSalary'] = imp.fit_transform(sample_train[['parsed_currentSalary']])
sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,"[0.0146099317606446, -0.0973321531897229, -0.0...","[0.0267966354783416, 0.1949045208271133, -0.15...","[-0.0268220597366096, 0.0146753642354594, -0.1...",270.00,3,180.0,300.0,0,0,2.0
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,"[-0.0804330166663323, -0.265194138646796, 0.05...","[0.1907121220593182, 0.2593476022337883, 0.109...","[-0.1403481086160699, 0.101545233205827, -0.14...",1019.50,5,360.0,300.0,0,0,2.0
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,25.0,40.0,14.0,[],['双一流'],...,"[-0.0967045533557524, -0.0158876913753405, -0....","[0.1350832166503662, 0.0570712078989811, -0.16...","[0.0041959442715183, -0.0689690014332659, -0.0...",832.00,3,360.0,540.0,0,0,2.0
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,"[0.1213571418999401, 0.0752965052240779, -0.04...","[-0.0822782506729067, 0.0309579678495507, -0.0...","[0.0593428963865967, -0.0521583781812485, -0.0...",401.40,4,360.0,288.0,0,0,5.0
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,"[-0.0555047818278877, -0.0795936243595016, 0.0...","[-0.0508683560010078, 0.2361558331204752, -0.1...","[-0.4085584894502868, 0.2043626298020381, 0.02...",692.00,2,360.0,300.0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,32.0,15,8.0,8.0,15.0,12.0,[],[],...,"[-0.0668460252602592, 0.0700903434401426, 0.05...","[-0.0950710757884233, -0.1473097543095731, -0....","[0.0196958641886768, -0.0692635968080485, -0.0...",783.50,0,360.0,300.0,3,3,4.0
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,"[-0.0098772535847565, 0.1301945044403502, -0.0...","[-0.1535405985665613, -0.0679644279924362, -0....","[0.1167680749390213, -0.0366297624844817, -0.0...",814.50,4,270.0,240.0,3,3,4.0
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,"[-0.097456235834622, -0.0709741819063322, 0.27...","[0.2580047261706898, -0.1447766777098391, 0.28...","[-0.0871293740917814, -0.0944614800646356, 0.1...",1141.75,4,360.0,300.0,3,3,4.0
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,"[0.1227189818078986, 0.0444096728787962, -0.01...","[-0.2917169624226904, 0.0940038684861844, 0.06...","[0.1580939681081193, 0.0353872320416606, -0.09...",501.50,4,600.0,247.0,3,3,4.0
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,"[0.2091978777308882, -0.0785661586036314, 0.03...","[-0.0685295771942709, -0.1354889152393191, -0....","[0.0455587290375525, -0.0721893133651663, 0.01...",411.00,1,360.0,300.0,3,3,4.0

In [99]:
sample_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58504 entries, 0 to 58503
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          58504 non-null  object
 1   jd_id                          58504 non-null  object
 2   age                            58504 non-null  float64
 3   recruit_number                 58504 non-null  int64
 4   workYear                       58504 non-null  float64
 5   min_month_salary               58504 non-null  float64
 6   max_month_salary               58504 non-null  float64
 7   pay_months                     58504 non-null  float64
 8   school_labels_cv               58504 non-null  object
 9   school_labels_jd               58504 non-null  object
 10  expectlocation_range_cv        58504 non-null  object
 11  location_range_jd              58504 non-null  object
 12  degree_index_cv                58504 non-null  int64
 13  degree_index_jd                58504 non-null  int64
 14  workyear_range_jd              58504 non-null  object
 15  gender_index_cv                58504 non-null  int64
 16  job_intentstatus_cv            58504 non-null  int64
 17  description_tfidf_pca          58504 non-null  object
 18  position_tfidf_pca             58504 non-null  object
 19  requirement_tfidf_pca          58504 non-null  object
 20  kills_tfidf_pca                58504 non-null  object
 21  title_category_tags_tfidf_pca  58504 non-null  object
 22  work_duration_mean             58504 non-null  float64
 23  equal_job                      58504 non-null  int64
 24  parsed_desiredSalary           58504 non-null  float64
 25  parsed_currentSalary           58504 non-null  float64
 26  da_label                       58504 non-null  int64
 27  rank_label                     58504 non-null  int64
 28  resume_type                    57295 non-null  float64
dtypes: float64(9), int64(8), object(12)
memory usage: 12.9+ MB

# 手动cross

In [101]:
sample_train.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

In [103]:
sample_train[['school_labels_cv', 'school_labels_jd']]

            school_labels_cv school_labels_jd
0             ['211', '双一流']               []
1      ['985', '211', '双一流']               []
2                         []          ['双一流']
3                         []               []
4                    ['双一流']               []
...                      ...              ...
58499                     []               []
58500                     []               []
58501         ['211', '双一流']               []
58502                     []               []
58503                     []               []

[58504 rows x 2 columns]

In [151]:
[item.strip('\'') for item in sample_train['school_labels_cv'][0].strip('[]').replace(' ', '').split(',')]

['211', '双一流']

In [145]:
sample_train['school_labels_cv'][0].strip('[]').replace(' ', '').split(',')

["'211'", "'双一流'"]

In [144]:
sample_train['school_labels_cv'][0]

"['211', '双一流']"

In [153]:
# 首先把school_labels_cv和school_labels_jd转成列表
def school_lables_to_list(series, school_col):
    school_labels = series[school_col]
    school_labels_list = [item.strip('\'') for item in school_labels.strip('[]').replace(' ', '').split(',')]
    if school_labels_list[0] == '':
        return []
    return school_labels_list
sample_train['school_labels_cv_list'] = sample_train.apply(school_lables_to_list, axis=1, args=('school_labels_cv', ))
sample_train['school_labels_jd_list'] = sample_train.apply(school_lables_to_list, axis=1, args=('school_labels_jd', ))

sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_intersect_cvjd,school_labels_cv_list,school_labels_jd_list
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,270.00,3,180.0,300.0,0,0,2.0,1,"[211, 双一流]",[]
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,1019.50,5,360.0,300.0,0,0,2.0,1,"[985, 211, 双一流]",[]
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,25.0,40.0,14.0,[],['双一流'],...,832.00,3,360.0,540.0,0,0,2.0,1,[],[双一流]
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,401.40,4,360.0,288.0,0,0,5.0,1,[],[]
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,692.00,2,360.0,300.0,0,0,2.0,1,[双一流],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,32.0,15,8.0,8.0,15.0,12.0,[],[],...,783.50,0,360.0,300.0,3,3,4.0,1,[],[]
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,814.50,4,270.0,240.0,3,3,4.0,1,[],[]
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,1141.75,4,360.0,300.0,3,3,4.0,1,"[211, 双一流]",[]
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,501.50,4,600.0,247.0,3,3,4.0,1,[],[]
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,411.00,1,360.0,300.0,3,3,4.0,1,[],[]

In [154]:
def school_intersect_cvjd(series, school_labels_cv, school_labels_jd):
    school_labels_cv = series[school_labels_cv]
    school_labels_jd = series[school_labels_jd]
    # jd没有学历要求or解析不出来
    if not school_labels_jd:
        return 1
    if set(school_labels_cv).intersection(set(school_labels_jd)):
        return 1
    return 0

sample_train['school_intersect_cvjd'] = sample_train.apply(school_intersect_cvjd, axis=1, args=('school_labels_cv_list', 'school_labels_jd_list'))
sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_intersect_cvjd,school_labels_cv_list,school_labels_jd_list
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,270.00,3,180.0,300.0,0,0,2.0,1,"[211, 双一流]",[]
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,1019.50,5,360.0,300.0,0,0,2.0,1,"[985, 211, 双一流]",[]
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,25.0,40.0,14.0,[],['双一流'],...,832.00,3,360.0,540.0,0,0,2.0,0,[],[双一流]
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,401.40,4,360.0,288.0,0,0,5.0,1,[],[]
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,692.00,2,360.0,300.0,0,0,2.0,1,[双一流],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,32.0,15,8.0,8.0,15.0,12.0,[],[],...,783.50,0,360.0,300.0,3,3,4.0,1,[],[]
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,814.50,4,270.0,240.0,3,3,4.0,1,[],[]
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,1141.75,4,360.0,300.0,3,3,4.0,1,"[211, 双一流]",[]
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,501.50,4,600.0,247.0,3,3,4.0,1,[],[]
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,411.00,1,360.0,300.0,3,3,4.0,1,[],[]

In [104]:
sample_train[['location_range_jd', 'expectlocation_range_cv']]

      location_range_jd expectlocation_range_cv
0                    []                 ['未知市']
1                    []                 ['未知市']
2               ['北京市']                 ['未知市']
3                    []          ['广州市', '深圳市']
4                    []                 ['未知市']
...                 ...                     ...
58499                []                 ['未知市']
58500                []                 ['南京市']
58501                []                 ['未知市']
58502                []                 ['上海市']
58503                []                 ['未知市']

[58504 rows x 2 columns]

In [157]:
# # 首先把expectlocation_range_cv和location_range_jd转成列表
def school_lables_to_list(series, location_col):
    location_labels = series[location_col]
    location_labels_list = [item.strip('\'') for item in location_labels.strip('[]').replace(' ', '').split(',')]
    if location_labels_list[0] == '':
        return []
    return location_labels_list

sample_train['location_range_jd_list'] = sample_train.apply(school_lables_to_list, axis=1, args=('location_range_jd', ))
sample_train['expectlocation_range_cv_list'] = sample_train.apply(school_lables_to_list, axis=1, args=('expectlocation_range_cv', ))

sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_intersect_cvjd,school_labels_cv_list,school_labels_jd_list,location_range_jd_list,expectlocation_range_cv_list
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,180.0,300.0,0,0,2.0,1,"[211, 双一流]",[],[],[未知市]
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,360.0,300.0,0,0,2.0,1,"[985, 211, 双一流]",[],[],[未知市]
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,25.0,40.0,14.0,[],['双一流'],...,360.0,540.0,0,0,2.0,0,[],[双一流],[北京市],[未知市]
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,360.0,288.0,0,0,5.0,1,[],[],[],"[广州市, 深圳市]"
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,360.0,300.0,0,0,2.0,1,[双一流],[],[],[未知市]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,32.0,15,8.0,8.0,15.0,12.0,[],[],...,360.0,300.0,3,3,4.0,1,[],[],[],[未知市]
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,270.0,240.0,3,3,4.0,1,[],[],[],[南京市]
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,360.0,300.0,3,3,4.0,1,"[211, 双一流]",[],[],[未知市]
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,600.0,247.0,3,3,4.0,1,[],[],[],[上海市]
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,360.0,300.0,3,3,4.0,1,[],[],[],[未知市]

In [158]:
def location_intersect_cvjd(series, location_labels_cv, location_labels_jd):
    location_labels_cv = series[location_labels_cv]
    location_labels_jd = series[location_labels_jd]
    # 如果jd没有地域
    if not location_labels_jd:
        return 1
    if set(location_labels_cv).intersection(set(location_labels_jd)):
        return 1
    return 0

sample_train['location_intersect_cvjd'] = sample_train.apply(location_intersect_cvjd, axis=1, args=('expectlocation_range_cv_list', 'location_range_jd_list'))
sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,parsed_currentSalary,da_label,rank_label,resume_type,school_intersect_cvjd,school_labels_cv_list,school_labels_jd_list,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,300.0,0,0,2.0,1,"[211, 双一流]",[],[],[未知市],1
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,300.0,0,0,2.0,1,"[985, 211, 双一流]",[],[],[未知市],1
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,25.0,40.0,14.0,[],['双一流'],...,540.0,0,0,2.0,0,[],[双一流],[北京市],[未知市],0
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,288.0,0,0,5.0,1,[],[],[],"[广州市, 深圳市]",1
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,300.0,0,0,2.0,1,[双一流],[],[],[未知市],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,32.0,15,8.0,8.0,15.0,12.0,[],[],...,300.0,3,3,4.0,1,[],[],[],[未知市],1
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,240.0,3,3,4.0,1,[],[],[],[南京市],1
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,300.0,3,3,4.0,1,"[211, 双一流]",[],[],[未知市],1
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,247.0,3,3,4.0,1,[],[],[],[上海市],1
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,300.0,3,3,4.0,1,[],[],[],[未知市],1

In [128]:
type(sample_train['degree_index_cv'][0])

numpy.int64

In [105]:
sample_train[['degree_index_cv', 'degree_index_jd']]

       degree_index_cv  degree_index_jd
0                    5                5
1                    5                5
2                    5                5
3                    5               -3
4                    5                5
...                ...              ...
58499                2               -3
58500                5                5
58501                5                5
58502                5                5
58503                7                5

[58504 rows x 2 columns]

In [160]:
def degree_match_cvjd(series, degree_index_cv, degree_index_jd):
    degree_index_cv = series['degree_index_cv']
    degree_index_jd = series['degree_index_jd']
    if degree_index_cv >= degree_index_jd:
        return 1
    else:
        return 0

sample_train['degree_match_cvjd'] = sample_train.apply(degree_match_cvjd, axis=1, args=('degree_index_cv', 'degree_index_jd'))
sample_train

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,da_label,rank_label,resume_type,school_intersect_cvjd,school_labels_cv_list,school_labels_jd_list,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd,degree_match_cvjd
0,2c9207158059e82b018067f52ee520f1,2c9207157ef60164017ef604e195022e,26.0,1,4.0,25.0,32.0,16.0,"['211', '双一流']",[],...,0,0,2.0,1,"[211, 双一流]",[],[],[未知市],1,1
1,2c920715804c9ef601805374e101570a,2c92071580b3a1010180bda0e1166bfd,46.0,1,23.0,80.0,100.0,12.0,"['985', '211', '双一流']",[],...,0,0,2.0,1,"[985, 211, 双一流]",[],[],[未知市],1,1
2,2c9207157ef7ed7f017f075fc6640e79,2c9207157d2f0ec5017d5a854c143177,36.0,1,12.0,25.0,40.0,14.0,[],['双一流'],...,0,0,2.0,0,[],[双一流],[北京市],[未知市],0,1
3,8a69c4e9824fd55f018258b725082f07,8a69f68e82198e9101822545359e0a0d,28.0,1,5.0,40.0,70.0,12.0,[],[],...,0,0,5.0,1,[],[],[],"[广州市, 深圳市]",1,1
4,2c920715800e8898018022a768d41cc3,2c9207157f347800017f72dd6e04248b,33.0,1,8.0,20.0,30.0,16.0,['双一流'],[],...,0,0,2.0,1,[双一流],[],[],[未知市],1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58499,2c9207157e58b769017e703d68483561,2c9207157dc878e5017ddab2b223521b,32.0,15,8.0,8.0,15.0,12.0,[],[],...,3,3,4.0,1,[],[],[],[未知市],1,1
58500,8a69c4e88262c85901826bc2582c33d0,8a69f61482627e7a0182628269db2b56,32.0,6,9.0,11.0,28.0,14.0,[],[],...,3,3,4.0,1,[],[],[],[南京市],1,1
58501,2c9207157ef7ed7f017f0a990d4d23a0,2c9207157ef7ed16017f0c28fa6c5e48,42.0,1,13.0,40.0,90.0,12.0,"['211', '双一流']",[],...,3,3,4.0,1,"[211, 双一流]",[],[],[未知市],1,1
58502,8a69d7a68219933d01821fc0c69843ea,2c9207158114fb2901815c03bb257372,30.0,1,6.0,20.0,35.0,14.0,[],[],...,3,3,4.0,1,[],[],[],[上海市],1,1
58503,2c9207157dc878b1017de5efb0e52184,2c9207157dbedfdb017dc139e3d33e6c,31.0,1,3.0,50.0,70.0,14.0,[],[],...,3,3,4.0,1,[],[],[],[未知市],1,1