# 将sample_test处理成可以直接输入模型

In [2]:
import numpy as np

In [3]:
# 读入数据
import pandas as pd

sample_test = pd.read_csv('../data_20220831/sample_test.csv').drop('Unnamed: 0', axis=1)

In [4]:
sample_test.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

In [5]:
sample_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14627 entries, 0 to 14626
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          14627 non-null  object
 1   jd_id                          14627 non-null  object
 2   age                            13340 non-null  float64
 3   recruit_number                 14627 non-null  int64
 4   workYear                       13586 non-null  float64
 5   min_month_salary               14137 non-null  float64
 6   max_month_salary               14137 non-null  float64
 7   pay_months                     14137 non-null  float64
 8   school_labels_cv               14627 non-null  object
 9   school_labels_jd               14627 non-null  object
 10  expectlocation_range_cv        14627 non-null  object
 11  location_range_jd              14627 non-null  object
 12  degree_index_cv                14627 non-null  int64
 13  degree_index_jd                14627 non-null  int64
 14  workyear_range_jd              14627 non-null  object
 15  gender_index_cv                14627 non-null  int64
 16  job_intentstatus_cv            14627 non-null  int64
 17  description_tfidf_pca          14627 non-null  object
 18  position_tfidf_pca             14627 non-null  object
 19  requirement_tfidf_pca          14627 non-null  object
 20  kills_tfidf_pca                14627 non-null  object
 21  title_category_tags_tfidf_pca  14627 non-null  object
 22  work_duration_mean             13656 non-null  float64
 23  equal_job                      14627 non-null  int64
 24  parsed_desiredSalary           14627 non-null  int64
 25  parsed_currentSalary           14627 non-null  int64
 26  da_label                       14627 non-null  int64
 27  rank_label                     14627 non-null  int64
 28  resume_type                    14332 non-null  float64
dtypes: float64(7), int64(10), object(12)
memory usage: 3.2+ MB

In [6]:
sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,NaN,NaN,NaN,['双一流'],['双一流'],...,"[-0.1419118611278064, -0.1529188641300954, -0....","[0.2864471657745184, 0.2252494388057755, -0.22...","[-0.2999534601671801, 0.1675461791724773, 0.36...",1537.500000,3,-1,-1,0,0,2.0
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,"[-0.1076417254917609, 0.1969000746662075, 3.28...","[-0.0654732692868987, -0.0805561760755879, 0.0...","[-0.0450986330342915, -0.2783286045295846, -0....",386.166667,1,600,360,0,0,2.0
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,"[-0.0935522486058823, 0.0394952248909006, -0.0...","[0.0760272834665939, -0.1730278473983863, 0.09...","[0.0088934337229539, -0.0552129385459116, -0.0...",509.000000,0,-1,-1,0,0,5.0
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,"[-0.1076417254917609, 0.1969000746662075, 3.28...","[0.039229463903765, -0.0956845975092942, 0.059...","[-0.0450986330342915, -0.2783286045295846, -0....",1461.000000,1,-1,-1,0,0,2.0
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,"[-0.0296257942655244, -0.095514068279019, -0.2...","[-0.0599022710215368, 0.2894064718007514, 0.08...","[-0.343357678493863, 0.250890015200693, -0.097...",834.000000,7,840,-1,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.2121591919281735, -0.0973096944987941, 0.18...","[0.0292751648590925, -0.0946458180860336, -0.0...",1564.600000,1,-1,600,3,3,4.0
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,"[-0.0374584565352739, 0.0564068476779357, 0.04...","[0.1461731824810366, -0.153381590345665, 0.189...","[-0.0458219190722429, -0.0389132984183317, -0....",1156.333333,2,182,-1,3,3,4.0
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,"[-0.0930706771115408, -0.0359898261643764, -0....","[-0.1159695809393811, -0.0562285602178969, -0....","[-0.0527260069646775, -0.0171684419689047, -0....",548.000000,2,168,108,3,3,4.0
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,"[-0.0113261949341071, 0.1086270271668797, 0.00...","[-0.0970040303205414, -0.0440447197647652, 0.0...","[0.0246964705746208, -0.0857444778704595, -0.0...",426.333333,3,84,-1,3,3,4.0
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,"[-0.095398748870977, -0.1140268516494649, 0.26...","[0.1832723473175841, -0.1068578427552195, 0.17...","[-0.1258684118577963, -0.0950697084922465, 0.1...",989.250000,7,-1,-1,3,3,4.0

In [8]:
# 中位数填充
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='median')
sample_test['age'] = imp.fit_transform(sample_test[['age']])
sample_test['workYear'] = imp.fit_transform(sample_test[['workYear']])
sample_test['min_month_salary'] = imp.fit_transform(sample_test[['min_month_salary']])
sample_test['max_month_salary'] = imp.fit_transform(sample_test[['max_month_salary']])
sample_test['pay_months'] = imp.fit_transform(sample_test[['pay_months']])
sample_test['work_duration_mean'] = imp.fit_transform(sample_test[['work_duration_mean']])

imp = SimpleImputer(missing_values=-1, strategy='median')
# 这两个只能选一个接入模型
sample_test['parsed_desiredSalary'] = imp.fit_transform(sample_test[['parsed_desiredSalary']])
sample_test['parsed_currentSalary'] = imp.fit_transform(sample_test[['parsed_currentSalary']])
sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,requirement_tfidf_pca,kills_tfidf_pca,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,"[-0.1419118611278064, -0.1529188641300954, -0....","[0.2864471657745184, 0.2252494388057755, -0.22...","[-0.2999534601671801, 0.1675461791724773, 0.36...",1537.500000,3,360.0,300.0,0,0,2.0
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,"[-0.1076417254917609, 0.1969000746662075, 3.28...","[-0.0654732692868987, -0.0805561760755879, 0.0...","[-0.0450986330342915, -0.2783286045295846, -0....",386.166667,1,600.0,360.0,0,0,2.0
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,"[-0.0935522486058823, 0.0394952248909006, -0.0...","[0.0760272834665939, -0.1730278473983863, 0.09...","[0.0088934337229539, -0.0552129385459116, -0.0...",509.000000,0,360.0,300.0,0,0,5.0
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,"[-0.1076417254917609, 0.1969000746662075, 3.28...","[0.039229463903765, -0.0956845975092942, 0.059...","[-0.0450986330342915, -0.2783286045295846, -0....",1461.000000,1,360.0,300.0,0,0,2.0
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,"[-0.0296257942655244, -0.095514068279019, -0.2...","[-0.0599022710215368, 0.2894064718007514, 0.08...","[-0.343357678493863, 0.250890015200693, -0.097...",834.000000,7,840.0,300.0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,"[-0.0635984771163071, 0.1566419781432294, -0.0...","[0.2121591919281735, -0.0973096944987941, 0.18...","[0.0292751648590925, -0.0946458180860336, -0.0...",1564.600000,1,360.0,600.0,3,3,4.0
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,"[-0.0374584565352739, 0.0564068476779357, 0.04...","[0.1461731824810366, -0.153381590345665, 0.189...","[-0.0458219190722429, -0.0389132984183317, -0....",1156.333333,2,182.0,300.0,3,3,4.0
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,"[-0.0930706771115408, -0.0359898261643764, -0....","[-0.1159695809393811, -0.0562285602178969, -0....","[-0.0527260069646775, -0.0171684419689047, -0....",548.000000,2,168.0,108.0,3,3,4.0
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,"[-0.0113261949341071, 0.1086270271668797, 0.00...","[-0.0970040303205414, -0.0440447197647652, 0.0...","[0.0246964705746208, -0.0857444778704595, -0.0...",426.333333,3,84.0,300.0,3,3,4.0
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,"[-0.095398748870977, -0.1140268516494649, 0.26...","[0.1832723473175841, -0.1068578427552195, 0.17...","[-0.1258684118577963, -0.0950697084922465, 0.1...",989.250000,7,360.0,300.0,3,3,4.0

In [9]:
sample_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14627 entries, 0 to 14626
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          14627 non-null  object
 1   jd_id                          14627 non-null  object
 2   age                            14627 non-null  float64
 3   recruit_number                 14627 non-null  int64
 4   workYear                       14627 non-null  float64
 5   min_month_salary               14627 non-null  float64
 6   max_month_salary               14627 non-null  float64
 7   pay_months                     14627 non-null  float64
 8   school_labels_cv               14627 non-null  object
 9   school_labels_jd               14627 non-null  object
 10  expectlocation_range_cv        14627 non-null  object
 11  location_range_jd              14627 non-null  object
 12  degree_index_cv                14627 non-null  int64
 13  degree_index_jd                14627 non-null  int64
 14  workyear_range_jd              14627 non-null  object
 15  gender_index_cv                14627 non-null  int64
 16  job_intentstatus_cv            14627 non-null  int64
 17  description_tfidf_pca          14627 non-null  object
 18  position_tfidf_pca             14627 non-null  object
 19  requirement_tfidf_pca          14627 non-null  object
 20  kills_tfidf_pca                14627 non-null  object
 21  title_category_tags_tfidf_pca  14627 non-null  object
 22  work_duration_mean             14627 non-null  float64
 23  equal_job                      14627 non-null  int64
 24  parsed_desiredSalary           14627 non-null  float64
 25  parsed_currentSalary           14627 non-null  float64
 26  da_label                       14627 non-null  int64
 27  rank_label                     14627 non-null  int64
 28  resume_type                    14332 non-null  float64
dtypes: float64(9), int64(8), object(12)
memory usage: 3.2+ MB

# 手动cross

In [10]:
sample_test.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type'],
      dtype='object')

In [11]:
sample_test[['school_labels_cv', 'school_labels_jd']]

            school_labels_cv         school_labels_jd
0                    ['双一流']                  ['双一流']
1                         []                       []
2                    ['双一流']                       []
3                         []                       []
4             ['211', '双一流']  ['211', '985', 'qs100']
...                      ...                      ...
14622  ['985', '211', '双一流']                       []
14623                     []                       []
14624                     []                       []
14625                     []                       []
14626                     []                       []

[14627 rows x 2 columns]

In [12]:
# 首先把school_labels_cv和school_labels_jd转成列表
def school_lables_to_list(series, school_col):
    school_labels = series[school_col]
    school_labels_list = [item.strip('\'') for item in school_labels.strip('[]').replace(' ', '').split(',')]
    if school_labels_list[0] == '':
        return []
    return school_labels_list
sample_test['school_labels_cv_list'] = sample_test.apply(school_lables_to_list, axis=1, args=('school_labels_cv', ))
sample_test['school_labels_jd_list'] = sample_test.apply(school_lables_to_list, axis=1, args=('school_labels_jd', ))

sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,title_category_tags_tfidf_pca,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,"[-0.2999534601671801, 0.1675461791724773, 0.36...",1537.500000,3,360.0,300.0,0,0,2.0,[双一流],[双一流]
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,"[-0.0450986330342915, -0.2783286045295846, -0....",386.166667,1,600.0,360.0,0,0,2.0,[],[]
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,"[0.0088934337229539, -0.0552129385459116, -0.0...",509.000000,0,360.0,300.0,0,0,5.0,[双一流],[]
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,"[-0.0450986330342915, -0.2783286045295846, -0....",1461.000000,1,360.0,300.0,0,0,2.0,[],[]
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,"[-0.343357678493863, 0.250890015200693, -0.097...",834.000000,7,840.0,300.0,0,0,2.0,"[211, 双一流]","[211, 985, qs100]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,"[0.0292751648590925, -0.0946458180860336, -0.0...",1564.600000,1,360.0,600.0,3,3,4.0,"[985, 211, 双一流]",[]
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,"[-0.0458219190722429, -0.0389132984183317, -0....",1156.333333,2,182.0,300.0,3,3,4.0,[],[]
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,"[-0.0527260069646775, -0.0171684419689047, -0....",548.000000,2,168.0,108.0,3,3,4.0,[],[]
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,"[0.0246964705746208, -0.0857444778704595, -0.0...",426.333333,3,84.0,300.0,3,3,4.0,[],[]
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,"[-0.1258684118577963, -0.0950697084922465, 0.1...",989.250000,7,360.0,300.0,3,3,4.0,[],[]

In [13]:
def school_intersect_cvjd(series, school_labels_cv, school_labels_jd):
    school_labels_cv = series[school_labels_cv]
    school_labels_jd = series[school_labels_jd]
    # jd没有学历要求or解析不出来
    if not school_labels_jd:
        return 1
    if set(school_labels_cv).intersection(set(school_labels_jd)):
        return 1
    return 0

sample_test['school_intersect_cvjd'] = sample_test.apply(school_intersect_cvjd, axis=1, args=('school_labels_cv_list', 'school_labels_jd_list'))
sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,work_duration_mean,equal_job,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,1537.500000,3,360.0,300.0,0,0,2.0,[双一流],[双一流],1
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,386.166667,1,600.0,360.0,0,0,2.0,[],[],1
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,509.000000,0,360.0,300.0,0,0,5.0,[双一流],[],1
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,1461.000000,1,360.0,300.0,0,0,2.0,[],[],1
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,834.000000,7,840.0,300.0,0,0,2.0,"[211, 双一流]","[211, 985, qs100]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,1564.600000,1,360.0,600.0,3,3,4.0,"[985, 211, 双一流]",[],1
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,1156.333333,2,182.0,300.0,3,3,4.0,[],[],1
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,548.000000,2,168.0,108.0,3,3,4.0,[],[],1
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,426.333333,3,84.0,300.0,3,3,4.0,[],[],1
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,989.250000,7,360.0,300.0,3,3,4.0,[],[],1

In [14]:
sample_test[['location_range_jd', 'expectlocation_range_cv']]

      location_range_jd expectlocation_range_cv
0        ['北京市', '上海市']                 ['北京市']
1                    []                 ['未知市']
2                    []                 ['未知市']
3                    []                 ['未知市']
4                    []                 ['未知市']
...                 ...                     ...
14622                []                 ['未知市']
14623                []                 ['未知市']
14624                []                 ['深圳市']
14625                []                 ['未知市']
14626                []                 ['未知市']

[14627 rows x 2 columns]

In [15]:
# 首先把expectlocation_range_cv和location_range_jd转成列表
def school_lables_to_list(series, location_col):
    location_labels = series[location_col]
    location_labels_list = [item.strip('\'') for item in location_labels.strip('[]').replace(' ', '').split(',')]
    if location_labels_list[0] == '':
        return []
    return location_labels_list

sample_test['location_range_jd_list'] = sample_test.apply(school_lables_to_list, axis=1, args=('location_range_jd', ))
sample_test['expectlocation_range_cv_list'] = sample_test.apply(school_lables_to_list, axis=1, args=('expectlocation_range_cv', ))

sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,parsed_desiredSalary,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,360.0,300.0,0,0,2.0,[双一流],[双一流],1,"[北京市, 上海市]",[北京市]
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,600.0,360.0,0,0,2.0,[],[],1,[],[未知市]
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,360.0,300.0,0,0,5.0,[双一流],[],1,[],[未知市]
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,360.0,300.0,0,0,2.0,[],[],1,[],[未知市]
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,840.0,300.0,0,0,2.0,"[211, 双一流]","[211, 985, qs100]",1,[],[未知市]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,360.0,600.0,3,3,4.0,"[985, 211, 双一流]",[],1,[],[未知市]
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,182.0,300.0,3,3,4.0,[],[],1,[],[未知市]
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,168.0,108.0,3,3,4.0,[],[],1,[],[深圳市]
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,84.0,300.0,3,3,4.0,[],[],1,[],[未知市]
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,360.0,300.0,3,3,4.0,[],[],1,[],[未知市]

In [16]:
def location_intersect_cvjd(series, location_labels_cv, location_labels_jd):
    location_labels_cv = series[location_labels_cv]
    location_labels_jd = series[location_labels_jd]
    # 如果jd没有地域
    if not location_labels_jd:
        return 1
    if set(location_labels_cv).intersection(set(location_labels_jd)):
        return 1
    return 0

sample_test['location_intersect_cvjd'] = sample_test.apply(location_intersect_cvjd, axis=1, args=('expectlocation_range_cv_list', 'location_range_jd_list'))
sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,parsed_currentSalary,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,300.0,0,0,2.0,[双一流],[双一流],1,"[北京市, 上海市]",[北京市],1
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,360.0,0,0,2.0,[],[],1,[],[未知市],1
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,300.0,0,0,5.0,[双一流],[],1,[],[未知市],1
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,300.0,0,0,2.0,[],[],1,[],[未知市],1
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,300.0,0,0,2.0,"[211, 双一流]","[211, 985, qs100]",1,[],[未知市],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,600.0,3,3,4.0,"[985, 211, 双一流]",[],1,[],[未知市],1
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,300.0,3,3,4.0,[],[],1,[],[未知市],1
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,108.0,3,3,4.0,[],[],1,[],[深圳市],1
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,300.0,3,3,4.0,[],[],1,[],[未知市],1
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,300.0,3,3,4.0,[],[],1,[],[未知市],1

In [17]:
def degree_match_cvjd(series, degree_index_cv, degree_index_jd):
    degree_index_cv = series['degree_index_cv']
    degree_index_jd = series['degree_index_jd']
    if degree_index_cv >= degree_index_jd:
        return 1
    else:
        return 0

sample_test['degree_match_cvjd'] = sample_test.apply(degree_match_cvjd, axis=1, args=('degree_index_cv', 'degree_index_jd'))
sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,da_label,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd,degree_match_cvjd
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,0,0,2.0,[双一流],[双一流],1,"[北京市, 上海市]",[北京市],1,1
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,0,0,2.0,[],[],1,[],[未知市],1,1
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,0,0,5.0,[双一流],[],1,[],[未知市],1,1
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,0,0,2.0,[],[],1,[],[未知市],1,1
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,0,0,2.0,"[211, 双一流]","[211, 985, qs100]",1,[],[未知市],1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,3,3,4.0,"[985, 211, 双一流]",[],1,[],[未知市],1,1
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,3,3,4.0,[],[],1,[],[未知市],1,1
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,3,3,4.0,[],[],1,[],[深圳市],1,1
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,3,3,4.0,[],[],1,[],[未知市],1,0
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,3,3,4.0,[],[],1,[],[未知市],1,1

In [18]:
sample_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14627 entries, 0 to 14626
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          14627 non-null  object
 1   jd_id                          14627 non-null  object
 2   age                            14627 non-null  float64
 3   recruit_number                 14627 non-null  int64
 4   workYear                       14627 non-null  float64
 5   min_month_salary               14627 non-null  float64
 6   max_month_salary               14627 non-null  float64
 7   pay_months                     14627 non-null  float64
 8   school_labels_cv               14627 non-null  object
 9   school_labels_jd               14627 non-null  object
 10  expectlocation_range_cv        14627 non-null  object
 11  location_range_jd              14627 non-null  object
 12  degree_index_cv                14627 non-null  int64
 13  degree_index_jd                14627 non-null  int64
 14  workyear_range_jd              14627 non-null  object
 15  gender_index_cv                14627 non-null  int64
 16  job_intentstatus_cv            14627 non-null  int64
 17  description_tfidf_pca          14627 non-null  object
 18  position_tfidf_pca             14627 non-null  object
 19  requirement_tfidf_pca          14627 non-null  object
 20  kills_tfidf_pca                14627 non-null  object
 21  title_category_tags_tfidf_pca  14627 non-null  object
 22  work_duration_mean             14627 non-null  float64
 23  equal_job                      14627 non-null  int64
 24  parsed_desiredSalary           14627 non-null  float64
 25  parsed_currentSalary           14627 non-null  float64
 26  da_label                       14627 non-null  int64
 27  rank_label                     14627 non-null  int64
 28  resume_type                    14332 non-null  float64
 29  school_labels_cv_list          14627 non-null  object
 30  school_labels_jd_list          14627 non-null  object
 31  school_intersect_cvjd          14627 non-null  int64
 32  location_range_jd_list         14627 non-null  object
 33  expectlocation_range_cv_list   14627 non-null  object
 34  location_intersect_cvjd        14627 non-null  int64
 35  degree_match_cvjd              14627 non-null  int64
dtypes: float64(9), int64(11), object(16)
memory usage: 4.0+ MB

In [19]:
sample_test['rank_label'].value_counts()

1    5067
2    4481
0    3280
3    1799
Name: rank_label, dtype: int64

In [20]:
def model_label_gen(series, rank_label):
    rank_label = series[rank_label]
    if rank_label in [0, 1]:
        return 0
    return 1
sample_test['model_label'] = sample_test.apply(model_label_gen, axis=1, args=('rank_label', ))
sample_test

,cv_id,jd_id,age,recruit_number,workYear,min_month_salary,max_month_salary,pay_months,school_labels_cv,school_labels_jd,...,rank_label,resume_type,school_labels_cv_list,school_labels_jd_list,school_intersect_cvjd,location_range_jd_list,expectlocation_range_cv_list,location_intersect_cvjd,degree_match_cvjd,model_label
0,2c9207157ef7ed7f017efd02e21e4e49,2c9207157d2f0ec5017d5a7504c72f8b,31.0,1,9.0,25.0,40.0,14.0,['双一流'],['双一流'],...,0,2.0,[双一流],[双一流],1,"[北京市, 上海市]",[北京市],1,1,0
1,2c920715802399a801804bdec5c34543,2c920715800e886301801791ef1b53ee,39.0,1,7.0,12.0,13.0,12.0,[],[],...,0,2.0,[],[],1,[],[未知市],1,1,0
2,2c92071581c8d04f0181cb3aa9f4639c,2c92071581c8c61e0181cc4416582615,39.0,1,5.0,30.0,50.0,12.0,['双一流'],[],...,0,5.0,[双一流],[],1,[],[未知市],1,1,0
3,2c920715802399a801804ba70b163677,2c920715800e886301801791ef1b53ee,37.0,1,9.0,12.0,13.0,12.0,[],[],...,0,2.0,[],[],1,[],[未知市],1,1,0
4,2c92071580b3a89c0180d1cdb36c3c4b,2c920715816798cb01817f99f0341751,34.0,1,12.0,15.0,35.0,24.0,"['211', '双一流']","['211', '985', 'qs100']",...,0,2.0,"[211, 双一流]","[211, 985, qs100]",1,[],[未知市],1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,2c92071581d380c20181ede1f6b4401f,2c92071581d380a00181dccc2ac54686,46.0,1,23.0,10.0,30.0,12.0,"['985', '211', '双一流']",[],...,3,4.0,"[985, 211, 双一流]",[],1,[],[未知市],1,1,1
14623,2c9207157dec317f017e0e75e24d4ab8,2c9207157dec2c34017e05671af21551,36.0,1,8.0,8.0,12.0,12.0,[],[],...,3,4.0,[],[],1,[],[未知市],1,1,1
14624,2c92071581d380c20181d7a76b390856,2c92071581cdd33b0181d224cbdf7b06,23.0,1,3.0,15.0,25.0,13.0,[],[],...,3,4.0,[],[],1,[],[深圳市],1,1,1
14625,2c920715816798dd01816b5b135e64b2,2c9207158114fb29018148007d475ade,23.0,1,4.0,6.0,8.0,12.0,[],[],...,3,4.0,[],[],1,[],[未知市],1,0,1
14626,2c92071580f6d9840180f8d5ca77274a,2c92071580f6d9350180f8da1f1c57ef,34.0,1,11.0,18.0,25.0,12.0,[],[],...,3,4.0,[],[],1,[],[未知市],1,1,1

In [21]:
sample_test['model_label'].value_counts()

0    8347
1    6280
Name: model_label, dtype: int64

In [22]:
8347+6280

14627

In [23]:
sample_test.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type',
       'school_labels_cv_list', 'school_labels_jd_list',
       'school_intersect_cvjd', 'location_range_jd_list',
       'expectlocation_range_cv_list', 'location_intersect_cvjd',
       'degree_match_cvjd', 'model_label'],
      dtype='object')

In [24]:
# 将jd中的月薪转成年薪
def multiply_cols_fun(series, col1, col2):
    col1_value = series[col1]
    col2_value = series[col2]
    return col1_value * col2_value

sample_test['min_annual_salary'] = sample_test.apply(multiply_cols_fun, axis=1, args=('min_month_salary', 'pay_months'))
sample_test['max_annual_salary'] = sample_test.apply(multiply_cols_fun, axis=1, args=('max_month_salary', 'pay_months'))

In [25]:
# 先把workyear_range_jd转成列表
def school_lables_to_list(series, location_col):
    location_labels = series[location_col]
    location_labels_list = [item.strip('\'') for item in location_labels.strip('[]').replace(' ', '').split(',')]
    first = int(location_labels_list[0])
    second = int(location_labels_list[1])
    return [first, second]

sample_test['workyear_range_jd_list'] = sample_test.apply(school_lables_to_list, axis=1, args=('workyear_range_jd', ))

sample_test[['workyear_range_jd', 'workyear_range_jd_list']]

      workyear_range_jd workyear_range_jd_list
0               [5, 10]                [5, 10]
1                [0, 1]                 [0, 1]
2                [3, 5]                 [3, 5]
3                [0, 1]                 [0, 1]
4                [3, 5]                 [3, 5]
...                 ...                    ...
14622         [10, 100]              [10, 100]
14623           [5, 10]                [5, 10]
14624            [3, 5]                 [3, 5]
14625            [0, 1]                 [0, 1]
14626           [5, 10]                [5, 10]

[14627 rows x 2 columns]

In [26]:
# work year match
def workYear_match_fun(series, workyear_range_jd_list, workYear):
    workyear_range = series[workyear_range_jd_list]
    workYear = series[workYear]
    if workyear_range[0] <= workYear <= workyear_range[1]:
        return 1
    else:
        return 0
    
sample_test['workyear_match_cvjd'] = sample_test.apply(workYear_match_fun, axis=1, args=('workyear_range_jd_list', 'workYear'))

In [27]:
def keyU_label_fun(series, school_labels_cv_list):
    school_labels = series[school_labels_cv_list]
    if school_labels:
        return 1
    else:
        return 0
sample_test['keyU'] = sample_test.apply(keyU_label_fun, axis=1, args=('school_labels_cv_list',))

In [28]:
# 数据ok
sample_test[['school_labels_cv_list', 'keyU', 'school_labels_jd_list']]

      school_labels_cv_list  keyU school_labels_jd_list
0                     [双一流]     1                 [双一流]
1                        []     0                    []
2                     [双一流]     1                    []
3                        []     0                    []
4                [211, 双一流]     1     [211, 985, qs100]
...                     ...   ...                   ...
14622       [985, 211, 双一流]     1                    []
14623                    []     0                    []
14624                    []     0                    []
14625                    []     0                    []
14626                    []     0                    []

[14627 rows x 3 columns]

In [29]:
sample_test.columns

Index(['cv_id', 'jd_id', 'age', 'recruit_number', 'workYear',
       'min_month_salary', 'max_month_salary', 'pay_months',
       'school_labels_cv', 'school_labels_jd', 'expectlocation_range_cv',
       'location_range_jd', 'degree_index_cv', 'degree_index_jd',
       'workyear_range_jd', 'gender_index_cv', 'job_intentstatus_cv',
       'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca',
       'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
       'work_duration_mean', 'equal_job', 'parsed_desiredSalary',
       'parsed_currentSalary', 'da_label', 'rank_label', 'resume_type',
       'school_labels_cv_list', 'school_labels_jd_list',
       'school_intersect_cvjd', 'location_range_jd_list',
       'expectlocation_range_cv_list', 'location_intersect_cvjd',
       'degree_match_cvjd', 'model_label', 'min_annual_salary',
       'max_annual_salary', 'workyear_range_jd_list', 'workyear_match_cvjd',
       'keyU'],
      dtype='object')

In [30]:
def school_lables_to_list(series, school_col):
    school_labels = series[school_col]
    school_labels_list = [float(item) for item in school_labels.strip('[]').replace(' ', '').split(',')]
    if school_labels_list[0] == '':
        return []
    return school_labels_list
sample_test['description_tfidf_pca'] = sample_test.apply(school_lables_to_list, axis=1, args=('description_tfidf_pca', ))
sample_test['position_tfidf_pca'] = sample_test.apply(school_lables_to_list, axis=1, args=('position_tfidf_pca', ))
sample_test['requirement_tfidf_pca'] = sample_test.apply(school_lables_to_list, axis=1, args=('requirement_tfidf_pca', ))
sample_test['kills_tfidf_pca'] = sample_test.apply(school_lables_to_list, axis=1, args=('kills_tfidf_pca', ))
sample_test['title_category_tags_tfidf_pca'] = sample_test.apply(school_lables_to_list, axis=1, args=('title_category_tags_tfidf_pca', ))

In [31]:
sample_test.shape

(14627, 42)

In [32]:
# 几个list如何处理
# parsed_currentSalary特征不使用
# min_month_salary和max_month_salary分别乘以pay_months，得到年薪数据，以k为单位。已处理
# salary特征可信度不高，清华模型就是简单的输入deep侧，除此以外没有任何处理。
COLUMNS = ['age', 'recruit_number', 'workYear', 'min_annual_salary', 'max_annual_salary', 
            'degree_index_cv', 'degree_index_jd', 'gender_index_cv', 'job_intentstatus_cv',
            'description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca', 'kills_tfidf_pca', 'title_category_tags_tfidf_pca',
            'work_duration_mean', 'equal_job', 'parsed_desiredSalary', 'school_intersect_cvjd', 'location_intersect_cvjd',
            'degree_match_cvjd', 'workyear_match_cvjd', 'keyU']

LABEL_COLUMN = "model_label"

# 离散特征
CATEGORICAL_COLUMNS = ['degree_index_cv', 'degree_index_jd', 'gender_index_cv', 'job_intentstatus_cv', 'school_intersect_cvjd',
                        'location_intersect_cvjd', 'degree_match_cvjd', 'workyear_match_cvjd', 'keyU']

# 文本向量特征
ARRAY_COLUMNS = ['description_tfidf_pca', 'position_tfidf_pca', 'requirement_tfidf_pca', 'kills_tfidf_pca', 'title_category_tags_tfidf_pca']

# 连续特征
CONTINUOUS_COLUMNS = ['age', 'recruit_number', 'workYear', 'min_annual_salary', 'max_annual_salary', 
                    'work_duration_mean', 'equal_job', 'parsed_desiredSalary', ]

In [39]:
COLUMNS.sort()
print(COLUMNS)
print(len(COLUMNS))

['age', 'degree_index_cv', 'degree_index_jd', 'degree_match_cvjd', 'description_tfidf_pca', 'equal_job', 'gender_index_cv', 'job_intentstatus_cv', 'keyU', 'kills_tfidf_pca', 'location_intersect_cvjd', 'max_annual_salary', 'min_annual_salary', 'parsed_desiredSalary', 'position_tfidf_pca', 'recruit_number', 'requirement_tfidf_pca', 'school_intersect_cvjd', 'title_category_tags_tfidf_pca', 'workYear', 'work_duration_mean', 'workyear_match_cvjd']
22

In [40]:
all_columns = ['cv_id', 'jd_id', 'model_label'] + COLUMNS
print(all_columns)
print(len(all_columns))

['cv_id', 'jd_id', 'model_label', 'age', 'degree_index_cv', 'degree_index_jd', 'degree_match_cvjd', 'description_tfidf_pca', 'equal_job', 'gender_index_cv', 'job_intentstatus_cv', 'keyU', 'kills_tfidf_pca', 'location_intersect_cvjd', 'max_annual_salary', 'min_annual_salary', 'parsed_desiredSalary', 'position_tfidf_pca', 'recruit_number', 'requirement_tfidf_pca', 'school_intersect_cvjd', 'title_category_tags_tfidf_pca', 'workYear', 'work_duration_mean', 'workyear_match_cvjd']
25

In [41]:
sample_test[all_columns].to_pickle('../data_20220831/sample_test_processed_processed.pkl')

In [42]:
import pandas as pd
import numpy as np
import tempfile
import tensorflow as tf
import pandas as pd

In [43]:
sample_test_pickle = pd.read_pickle('../data_20220831/sample_test_processed_processed.pkl')

In [44]:
sample_test_pickle.shape

(14627, 25)

In [45]:
sample_test_pickle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14627 entries, 0 to 14626
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cv_id                          14627 non-null  object
 1   jd_id                          14627 non-null  object
 2   model_label                    14627 non-null  int64
 3   age                            14627 non-null  float64
 4   degree_index_cv                14627 non-null  int64
 5   degree_index_jd                14627 non-null  int64
 6   degree_match_cvjd              14627 non-null  int64
 7   description_tfidf_pca          14627 non-null  object
 8   equal_job                      14627 non-null  int64
 9   gender_index_cv                14627 non-null  int64
 10  job_intentstatus_cv            14627 non-null  int64
 11  keyU                           14627 non-null  int64
 12  kills_tfidf_pca                14627 non-null  object
 13  location_intersect_cvjd        14627 non-null  int64
 14  max_annual_salary              14627 non-null  float64
 15  min_annual_salary              14627 non-null  float64
 16  parsed_desiredSalary           14627 non-null  float64
 17  position_tfidf_pca             14627 non-null  object
 18  recruit_number                 14627 non-null  int64
 19  requirement_tfidf_pca          14627 non-null  object
 20  school_intersect_cvjd          14627 non-null  int64
 21  title_category_tags_tfidf_pca  14627 non-null  object
 22  workYear                       14627 non-null  float64
 23  work_duration_mean             14627 non-null  float64
 24  workyear_match_cvjd            14627 non-null  int64
dtypes: float64(6), int64(12), object(7)
memory usage: 2.8+ MB

In [70]:
sample_test_pickle['workyear_match_cvjd'][0].__class__

numpy.int64